:root {
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --DarkBlue: hsl(213, 19%, 18%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
  --Orange: hsl(25, 97%, 53%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", serif;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: var(--VeryDarkBlue);
}

.Rating-component {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 20px;
  background-color: var(--DarkBlue);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 20px auto;
}

.Rating-component h1 {
  
  margin: 10px 0;
  color: var(--White);
  font-weight: 700;
}

.Rating-component p {
  font-size: 14px;
  color: #666;
  max-width: 250px;
  margin-bottom: 10px;
  font-weight: 400;
}

.rate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: var(--LightGrey);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

span:hover {
  background-color:var(--Orange);
  cursor: pointer;
}

/* When clicked, change to white */
.circle.selected {
  background-color: var(--White);
  color: hsl(213, 19%, 18%); 
}



button {
  width: 100%;
  padding: 10px;
  background-color: var(--Orange);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f78d1e;
}
/*------------------------Thank-u-contnet------*/
.Thank-u-contnet{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.U-selected{
  background-color: hsl(217deg 19.56% 25.25%);
  color: var(--Orange) !important;
  padding: 2.5%;
  border-radius: 5px;
  margin-top: 4%;
}